div[id^="filter_settings_"] {
	border-style: solid;
	border-color: red;
}


/* Filter header settings */

/* filter content */
.filter_header + div {
	padding: 0 18px;
	overflow: hidden;
	background-color: #f1f1f1;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.filter_header {
	display: flex;
	color: #444;
	background-color: #eee;
	cursor: pointer;
}

.filter_header button {
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.filter_header_active, .filter_header:hover, .filter_header_active button {
	background-color: #ccc;
}

/* Map tooltips */
div span.tooltip {
	display: none;
}

div.leaflet-marker-icon:hover {
	z-index: 1000000 !important;
}

div.leaflet-marker-icon:hover span.tooltip {
	padding: 5px;
	margin: 10px;

	display: block;
	position: absolute;
	width: 100px;
	color: black;
	background-color: #FFFFCC;
	border: 1px solid #ccc;
	font: 10px Verdana, sans-serif;
	text-align: center;
}

